ul.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	height: 100%;

	& > li {
		position: relative;
		padding: 5px 10px;
		font-weight: bold;
		display: flex;
		align-items: center;

		&:hover {
			& > .menu-child {
				visibility: visible;
				opacity: 1;
				transition: 0.3s opacity;
			}
		}
	}

	& li > a {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

ul.menu-child {
	background-color: $colorChildMenu;
	transition: 0.3s;
	padding: 0;
	opacity: 0;
	min-width: 200px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	list-style-type: none;
	margin: 0;
	z-index: 10;

	& li {
		position: relative;
		padding: 10px 20px;
		min-height: 40px;
		width: 100%;
		display: flex;
		align-items: center;
		font-size: 1.4rem;
		font-weight: 100;

		& a {
			width: 100%;
			height: 100%;
			color: white;

			&:hover {
				text-decoration: none;
				color: $backgroundBtn;
			}
		}

		&:hover {
			& > .menu-child {
				visibility: visible;
				opacity: 1;
				transition: 0.3s opacity;
			}
		}
	}

	& li:last-child {
		padding-bottom: 15px;
		width: 100%;
		border-bottom: 0;
	}

	& li:first-child {
		padding-top: 15px;
	}

	& ul.menu-child {
		top: 0;
		left: 100%;
	}
}
