@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="col-xs-12">
    <input type="text" value="" data-target-input='#fileManager' id="inputTest">
    <button data-target="#fileManager">Open images manager</button>
</div>

@section OuterContainer {
    <div class="manager-container unshow" id="fileManager" data-manager-url="/request/filemanager/getblogfiles">
        <div class="manager-modal">
            <div class="manager-body">
                <div class="manager-images"></div>
            </div>
            <div class="manager-footer">
                <button class="choose-image" value="">Select</button>
                <button class="close-manager">Close</button>
            </div>
        </div>
    </div>
}
