<ul class="sidenav sidenav-fixed nav-background" id="side-bar">
    <img src="~/images/zeen-chin- (6).jpg" class="nav-img" alt="">
    @await Component.InvokeAsync("SideBar", new { viewName = "Logo" })
    <li class="li-border-bot flex">
        <ul class="collapsible full-width full-height">
            <li>
                <div class="collapsible-header avatar">
                    <img src="~/images/zeen-chin- (1).jpg" alt="">
                    @Context.User.Identity.Name
                    <i class="material-icons li-right">arrow_drop_down</i>
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible nav">
                        <li class="nav-item">
                            <div class="collapsible-header">
                                <i class="material-icons">person</i>
                                <a href="">My Profile</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="collapsible-header">
                                <i class="material-icons">edit</i>
                                <a href="">Edit Profile</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="collapsible-header">
                                <i class="material-icons">settings</i>
                                <a href="">Settings</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li>
        <ul class="collapsible">
            @* Blogs *@
            @await Component.InvokeAsync("SideBar", new { viewName = "Blogs" })

            @* Users *@
            @await Component.InvokeAsync("SideBar", new { viewName = "Users" })

            @* Navigation *@
            @await Component.InvokeAsync("SideBar", new { viewName = "Navigation" })

            @* Site configs *@
            @await Component.InvokeAsync("SideBar", new { viewName = "SiteConfigs" })

            @* Roles *@
            @await Component.InvokeAsync("SideBar", new { viewName = "Roles" })
        </ul>
    </li>
</ul>