<li>
    <div class="collapsible-header">
        <i class="material-icons">menu</i>Navigation
        <i class="material-icons li-right">arrow_drop_down</i>
    </div>
    <div class="collapsible-body">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">playlist_add</i>
                    <a asp-area="Admin" asp-controller="Menu" asp-action="Detail">Create</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">list</i>
                    <a asp-area="Admin" asp-controller="Menu" asp-action="Index">Manage</a>
                </div>
            </li>
        </ul>
    </div>
</li>