@using Services.Constants
@inject BlogNetCore.DataServices.IUserManager userManager

@if (userManager.HasPermission(Context, PermissionClaims.ViewRoles))
{
    <li>
        <div class="collapsible-header">
            <i class="material-icons">accessible</i>Roles
            <i class="material-icons li-right">arrow_drop_down</i>
        </div>
        <div class="collapsible-body">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">playlist_add</i>
                        <a asp-action="Index" asp-controller="Role" asp-area="Admin">Roles</a>
                    </div>
                </li>
                @*<li>
                    <div class="collapsible-header">
                        <i class="material-icons">border_bottom</i>
                        <a asp-action="Footer" asp-controller="SiteConfig" asp-area="Admin">Footer</a>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">share</i>
                        <a asp-action="Social" asp-controller="SiteConfig" asp-area="Admin">Social</a>
                    </div>
                </li>*@
            </ul>
        </div>
    </li>
}
