footer {
  background-color: $backgroundFooter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.footer {
  &-nav {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.09rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    & li {
      padding: 22px;
    }
  }
}