.logo-center {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    & img {
        height: 100%;
        width: auto;
    }
}

.navigation {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-container {
        width: 100%;
        height: 80px;
        // margin-bottom: 30px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        display: flex;
        align-items: center;
    }
}

.header {
    &-menu {
        
    }

    &-search {
        display: flex;
        height: 100%;

        & .textbox { 
            border-top: 0;
            border-left: 0;
            border-right: 0;
            height: 100%;
            background-color: transparent;
            &:focus {
                outline: none;
                border-bottom: grey 1px solid;

                &  + .search-icon {
                    outline: none;
                    border-bottom: grey 1px solid;
                }
            }
        }

        & .search-icon {
            vertical-align: text-top;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border: 0;
            background-color: transparent;
        }
    }
}

.section {
    &-dark {
        width: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        background-color: black;
        justify-content: center;
        align-items: center;

        .section-heading {
            font-family: $fontKarla;
            font-weight: 600;
            color: white;
            font-size: 3.7rem;
            margin-bottom: 15px;;
        }

        .section-breadcrumb {
            font-family: $fontPro;
            color: grey;
            font-size: 1.5rem;

            & * {
                font-family: $fontPro;
                margin-right: 15px;
                color: grey;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.top-login {
    margin: 0;
    padding: 5px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;

    .login {
        display: flex;
        justify-content: flex-end;

        * {
            color: white;
        }
    }
}