// colors
$backgroundBody: #fafafa;
$borderColor: #f5f5f5;
$backgroundBtn: #ceaba0;
$colorBtn: #fff;
$colorChildMenu: #222225;
$backgroundFooter: #f4f0ef;
$backgroundPanel: #fff;
$backgroundSectionDark: #000;
// fonts
$fontKarla: 'Karla', sans-serif;;
$fontPro: 'Source Serif Pro', serif;