<!DOCTYPE html>
<html>
<head>
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- // font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Admin/main.css" rel="stylesheet">

</head>

<body>
    <div class="row">
        <div class="col s12 m12 l9 offset-l3">
            @await Component.InvokeAsync("SideBar")

            <div id="notification" class="dropdown-content notification">
                <ul>
                    <li>
                        <a href="#">
                            Add a dropdown list to any button. Make sure that the data-target attribute matches the id
                            in the ul> tag
                            <p><small>8:53PM 21/6/2020</small></p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Add a dropdown list to any button. Make sure that the data-target attribute matches the id
                            in the ul> tag
                            <p><small>8:53PM 21/6/2020</small></p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Add a dropdown list to any button. Make sure that the data-target attribute matches the id
                            in the ul> tag
                            <p><small>8:53PM 21/6/2020</small></p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Add a dropdown list to any button. Make sure that the data-target attribute matches the id
                            in the ul> tag
                            <p><small>8:53PM 21/6/2020</small></p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="desk-nav">
                <div class="nav-toggle">
                    <a href="#" id="collapseMenu" data-target="side-bar" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                </div>
                <div class="nav-right">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input id="searchbox" type="text" class="validate">
                        <label for="searchbox">Search ...</label>
                    </div>
                    <div class="">
                        <a href="#" class="dropdown-trigger badge-div" data-target='notification'>
                            <span class="badge red">4</span>
                            <i class="material-icons">notifications</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">

            <div class="col s12 l3">
                <!-- Promo Content 1 goes here -->
            </div>
            <div class="col s12 m12 l9 card">
                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("OuterContainer", false)
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @*<script src="~/Vendors/tinymce/tinymce.min.js"></script>*@
    <script src="https://cdn.tiny.cloud/1/k1h8nnoz2wedxgmxnn1acx115rjb3jbla9h8dbz7mlqisjh5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/Admin/adminApp.min.js"></script>
</body>

</html>