body {
    background-color: rgba($color: #000000, $alpha: 0.1);
}

textarea {
    height: unset;
}

.full {
    &-width {
        width: 100%;
    }

    &-height {
        height: 100%;
    }
}

.flex {
    display: flex;
}

.ck-editor__editable {
    min-height: 500px;
}