ul.nav {
    padding: 15px;
    li.nav-item {
        position: relative;
        width: 100%;

        & a {
            width: 100%;
            height: 100%;
            color: inherit;
            padding: 0;
        }
    }
}

.li {
    &-logo {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }

    &-border-bot {
        border-bottom: 1px solid hsla(0, 0%, 71%, 0.3);
    }

    &-right {
        position: absolute;
        right: 0;
    }
}

li .collapsible .avatar {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    img {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.mobile-nav {
    @media screen and (max-width: 992px) {
        display: flex;
        padding: 30px 30px;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width: 993px) {
        display: none;
    }
}

.desk-nav {
    display: flex;
    padding: 30px 30px;
    align-items: center;
    @media screen and (max-width: 992px) {
        justify-content: space-between;
    }

    @media screen and (min-width: 993px) {
        justify-content: flex-end;
    }

    .nav-toggle {
        @media screen and (max-width: 992px) {
            display: block;
        }
    
        @media screen and (min-width: 993px) {
            display: none;
        }
    }

    .nav-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.notification {
    max-width: 400px;
    ul {
        li {
            display: flex;
            padding: 0 15px;

            a {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.badge-div {
    position: relative;
    color: inherit;
    .badge {
        position: absolute;
        top: -20px;
        height: 20px;
        width: 20px;
        min-width: 0 !important;
        color: white;
        border-radius: 50%;
    }
}

.nav-background {
    position: relative;
    img.nav-img {
        z-index: -1;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .collapsible {
        *:not(.material-icons), *:not(span){
            color: white;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
    }
}