<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.min.css">
</head>

<body>
    <header>
        <div class="logo-center">
            <img src="./images/rosenstein.png" alt="">
        </div>
        <nav class="navigation-container">
            <div class="container full-height">
                <div class="row full-height">
                    <div class="col navigation">
                        <div class="header-menu">
                            <ul class="menu">
                                <li><a href="#">Demons</a>
                                    <ul class="menu-child">
                                        <li><a href="#">Child demon, Child demon, Child demon</a></li>
                                        <li><a href="#">Child demon</a></li>
                                        <li><a href="#">Child demon</a></li>
                                        <li><a href="#">Child demon</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Demons</a></li>
                                <li><a href="#">Demons</a></li>
                                <li><a href="#">Demons</a>
                                    <ul class="menu-child">
                                        <li><a href="#">Child demon, Child demon, Child demon</a></li>
                                        <li><a href="#">Child demon</a></li>
                                        <li><a href="#">Child demon</a></li>
                                        <li><a href="#">Child demon</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header-search">
                            <input type="text" name="" id="" class="textbox" placeholder="Search...">
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="blog-grid-item">
                        <img src="./images//grid.jpg" alt="" class="grid-image">
                        <div class="grid-title">
                            <div class="grid-tag">
                                <a href="#">Fashion</a>
                            </div>
                            <h4>This is title of the blog</h4>
                            <div class="grid-info">
                                <a href="#">Fashion</a>
                                <span>Jun 14, 2020</span>
                                <span>2k views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="blog-grid-item">
                        <img src="./images//grid.jpg" alt="" class="grid-image">
                        <div class="grid-title">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>