<html>

<head>
  <title>Search</title>
  <link rel="stylesheet" href="./vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./vendors/bootstrap/css/all.css">
  <link rel="stylesheet" href="./vendors/slick/slick.css">
  <link rel="stylesheet" href="./vendors/slick/slick-theme.css">

  <!-- <link rel="stylesheet" href="./vendors/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="./dist/main.css">

  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Source+Serif+Pro&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="logo-center">
      <img src="./images/rosenstein.png" alt="">
    </div>
    <nav class="navigation-container">
      <div class="container full-height">
        <div class="row full-height">
          <div class="col-sm-12 navigation">
            <div class="header-menu">
              <ul class="menu title">
                <li><a href="#">Blogs</a>
                  <ul class="menu-child">
                    <li>
                      <a href="#">
                        Most recents
                        <span class="menu-icon"><i class="fa fa-caret-right"></i></span>
                      </a>
                      <ul class="menu-child">
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Beauty</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Favorite</a></li>
                    <li>
                      <a href="#">Group by tag
                        <span class="menu-icon"><i class="fa fa-caret-right"></i></span>
                      </a>
                      <ul class="menu-child">
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Beauty</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Group by date
                        <span class="menu-icon"><i class="fa fa-caret-right"></i></span>
                      </a>
                      <ul class="menu-child">
                        <li>
                          <a href="#">June
                            <span class="menu-icon"><i class="fa fa-caret-right"></i></span>
                          </a>
                          <ul class="menu-child">
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Beauty</a></li>
                          </ul>
                        </li>
                        <li><a href="#">May</a></li>
                        <li><a href="#">April</a></li>
                        <li><a href="#">March</a></li>
                        <li><a href="#">Older</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">More information</a>
                  <ul class="menu-child">
                    <li><a href="#">Brooklyn</a></li>
                    <li><a href="#">Dangal</a></li>
                    <li><a href="#">Flipped</a></li>
                    <li><a href="#">Cast away</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="header-search">
              <input type="text" name="" id="" class="textbox" placeholder="Search...">
              <div class="search-icon">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-dark">
    <div class="section-heading">Search: "Education"</div>
    <div class="section-breadcrumb">
      <a href="">Home</a>
      <a href="">Search</a>
      <a href="">Search results for "Education"</a>
    </div>
  </div>
  <div class="container regular-padding">
    <div class="row flex">
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="blog-item">
              <div class="blog-item__thumb">
                <a href="" class="item-image">
                  <img src="./images/zeen-chin-005.jpg" alt="">
                </a>
                <div class="item-hint">
                  <span>F**k</span>
                </div>
              </div>
              <div class="blog-item__detail">
                <div class="item-tag">
                  Fashion
                </div>
                <h4 class="title">
                  This is fashion title
                </h4>
                <div class="item-info">
                  <a href="#">Vu Ngoc Tan</a>
                  <span>Jun 14, 2020</span>
                  <span>2k views</span>
                </div>
                <div class="item-content">
                  <p>
                    Help shouted touching causing posts is such specified incite adapt audio had.…
                  </p>
                </div>
                <a class="read-more" href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="blog-item">
              <div class="blog-item__thumb">
                <a href="" class="item-image">
                  <img src="./images/zeen-chin-steamilk7.jpg" alt="">
                </a>
                <div class="item-hint">
                  <span>F**k</span>
                </div>
              </div>
              <div class="blog-item__detail">
                <div class="item-tag">
                  Fashion
                </div>
                <h4 class="title">
                  This is fashion title
                </h4>
                <div class="item-info">
                  <a href="#">Fashion</a>
                  <span>Jun 14, 2020</span>
                  <span>2k views</span>
                </div>
                <div class="item-content">
                  <p>
                    Help shouted touching causing posts is such specified incite adapt audio had.…
                  </p>
                </div>
                <a class="read-more" href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="blog-item">
              <div class="blog-item__thumb">
                <a href="" class="item-image">
                  <img src="./images/zeen-chin- (9).jpg" alt="">
                </a>
                <div class="item-hint">
                  <span>F**k</span>
                </div>
              </div>
              <div class="blog-item__detail">
                <div class="item-tag">
                  Fashion
                </div>
                <h4 class="title">
                  This is fashion title
                </h4>
                <div class="item-info">
                  <a href="#">Fashion</a>
                  <span>Jun 14, 2020</span>
                  <span>2k views</span>
                </div>
                <div class="item-content">
                  <p>
                    Help shouted touching causing posts is such specified incite adapt audio had.…
                  </p>
                </div>
                <a class="read-more" href="#">Read more</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="blog-item">
              <div class="blog-item__thumb">
                <a href="" class="item-image">
                  <img src="./images/zeen-chin- (9).jpg" alt="">
                </a>
                <div class="item-hint">
                  <span>F**k</span>
                </div>
              </div>
              <div class="blog-item__detail">
                <div class="item-tag">
                  Fashion
                </div>
                <h4 class="title">
                  This is fashion title
                </h4>
                <div class="item-info">
                  <a href="#">Fashion</a>
                  <span>Jun 14, 2020</span>
                  <span>2k views</span>
                </div>
                <div class="item-content">
                  <p>
                    Help shouted touching causing posts is such specified incite adapt audio had.…
                  </p>
                </div>
                <a class="read-more" href="#">Read more</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="blog-item">
              <div class="blog-item__thumb">
                <a href="" class="item-image">
                  <img src="./images/zeen-chin- (9).jpg" alt="">
                </a>
                <div class="item-hint">
                  <span>F**k</span>
                </div>
              </div>
              <div class="blog-item__detail">
                <div class="item-tag">
                  Fashion
                </div>
                <h4 class="title">
                  This is fashion title
                </h4>
                <div class="item-info">
                  <a href="#">Fashion</a>
                  <span>Jun 14, 2020</span>
                  <span>2k views</span>
                </div>
                <div class="item-content">
                  <p>
                    Help shouted touching causing posts is such specified incite adapt audio had.…
                  </p>
                </div>
                <a class="read-more" href="#">Read more</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="blog-item">
              <div class="blog-item__thumb">
                <a href="" class="item-image">
                  <img src="./images/zeen-chin- (9).jpg" alt="">
                </a>
                <div class="item-hint">
                  <span>F**k</span>
                </div>
              </div>
              <div class="blog-item__detail">
                <div class="item-tag">
                  Fashion
                </div>
                <h4 class="title">
                  This is fashion title
                </h4>
                <div class="item-info">
                  <a href="#">Fashion</a>
                  <span>Jun 14, 2020</span>
                  <span>2k views</span>
                </div>
                <div class="item-content">
                  <p>
                    Help shouted touching causing posts is such specified incite adapt audio had.…
                  </p>
                </div>
                <a class="read-more" href="#">Read more</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="blog-item">
              <div class="blog-item__thumb">
                <a href="" class="item-image">
                  <img src="./images/zeen-chin- (9).jpg" alt="">
                </a>
                <div class="item-hint">
                  <span>F**k</span>
                </div>
              </div>
              <div class="blog-item__detail">
                <div class="item-tag">
                  Fashion
                </div>
                <h4 class="title">
                  This is fashion title
                </h4>
                <div class="item-info">
                  <a href="#">Fashion</a>
                  <span>Jun 14, 2020</span>
                  <span>2k views</span>
                </div>
                <div class="item-content">
                  <p>
                    Help shouted touching causing posts is such specified incite adapt audio had.…
                  </p>
                </div>
                <a class="read-more" href="#">Read more</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="blog-item">
              <div class="blog-item__thumb">
                <a href="" class="item-image">
                  <img src="./images/zeen-chin- (9).jpg" alt="">
                </a>
                <div class="item-hint">
                  <span>F**k</span>
                </div>
              </div>
              <div class="blog-item__detail">
                <div class="item-tag">
                  Fashion
                </div>
                <h4 class="title">
                  This is fashion title
                </h4>
                <div class="item-info">
                  <a href="#">Fashion</a>
                  <span>Jun 14, 2020</span>
                  <span>2k views</span>
                </div>
                <div class="item-content">
                  <p>
                    Help shouted touching causing posts is such specified incite adapt audio had.…
                  </p>
                </div>
                <a class="read-more" href="#">Read more</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="flex-center">
              <a class="paging-prev active" href=""> PREV</a>
              <a class="paging active" href="">1</a>
              <a class="paging " href="">2</a>
              <a class="paging-next" href="">NEXT </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="col-md-4 col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel">
              <h4 class="title">Latest Stories</h4>
              <div class="flex-center">
                <a class="social-icon" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="social-icon" href=""><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href=""><i class="fab fa-instagram"></i></a>
                <a class="social-icon" href=""><i class="fab fa-youtube"></i></a>
                <a class="social-icon" href=""><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>


          <div class="col-sm-12">
            <div class="panel">
              <h4 class="title">Let's Social</h4>
              <div class="row">
                <div class="col-sm-12">
                  <div class="blog-item">
                    <div class="blog-item__mini-thumb">
                      <a href="" class="item-image">
                        <img src="./images/zeen-chin- (9).jpg" alt="">
                      </a>
                    </div>
                    <div class="blog-item__mini-detail">
                      <h4 class="title">
                        This is fashion title
                      </h4>
                      <div class="item-info">
                        <span>Jun 14, 2020</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="blog-item">
                    <div class="blog-item__mini-thumb">
                      <a href="" class="item-image">
                        <img src="./images/zeen-chin- (9).jpg" alt="">
                      </a>
                    </div>
                    <div class="blog-item__mini-detail">
                      <h4 class="title">
                        This is long fashion title
                      </h4>
                      <div class="item-info">
                        <span>Jun 14, 2020</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="blog-item">
                    <div class="blog-item__mini-thumb">
                      <a href="" class="item-image">
                        <img src="./images/zeen-chin- (9).jpg" alt="">
                      </a>
                    </div>
                    <div class="blog-item__mini-detail">
                      <h4 class="title">
                        This is very long fashion title
                      </h4>
                      <div class="item-info">
                        <span>Jun 14, 2020</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="panel">
              <h4 class="title">Tags</h4>
              <div class="flex-start">
                <a class="tag" href="">Fashion</a>
                <a class="tag" href="">Design</a>
                <a class="tag" href="">Girls</a>
                <a class="tag" href="">Travel</a>
                <a class="tag" href="">Education</a>
                <a class="tag" href="">Sex</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row sticky-top">
          <div class="col-sm-12">
            <form class="panel">
              <h4 class="title">News letter</h4>
              <p>
                Subscribe to our newsletter and get our newest updates right on your inbox.
              </p>
              <input type="text" name="" id="" class="textbox full-width" placeholder="Your email">
              <div class="br"></div>
              <label>
                <input type="checkbox" name="newsLetter">
                <a href=""> I agree to the terms & conditions</a>
              </label>
              <div class="br"></div>
              <button class="btn btn-default full-width">Subscribe</button>
            </form>
          </div>

          <div class="col-sm-12">
            <div class="panel">
              <h4 class="title">Instagram</h4>
              <p>
                No data available.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="col-sm-12 flex-center">
        <ul class="footer-nav">
          <li><a href="">Disclaimer</a></li>
          <li><a href="">Terms & Conditions</a></li>
          <li><a href="">Privacy policy</a></li>
          <li><a href="">Community</a></li>
        </ul>
      </div>
      <div class="col-sm-12">
        <div class="flex-center">
          <p>© 2020 Rosenstein. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <div class="move-on-top flex-center"><i class="fas fa-caret-up"></i></div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <script src="./vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="./vendors/slick/slick.js"></script>
  <script src="./dist/app.min.js"></script>
</body>

</html>